<!DOCTYPE html>
<html>
  <head>
    <title>Tatra Banka RFP</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div class="logo"></div>

      <div class="title">
        <a href="/" style="color:white;text-decoration: none;"><span>RFP</span>Draft</a>
      </div>

      <div class="stamp">
        <table>
          <tbody>
            <tr>
              <td>ES</td>
              <td class="right">EXTRA<br>SENSITIVE</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="search">
        <%= form_for Client.new do |f| %>
          <%= f.text_field :ic, id: "text-search", placeholder: "Vyhľadať..." %>
          <button type="submit"><i class="fa fa-search"></i></button>
        <% end %>
      </div>

      <div class="controls">
        <ul class="group-submenu-button dropit">
          <li class="dropit-trigger">
            <button><i class="fa fa-globe"></i></button>
            <ul class="button-submenu dropit-submenu" style="display: none;">
              <li><a href="#">slovenský</a></li>
              <li class="divider"></li>
              <li><a href="#">english</a></li>
              <li><a href="#">deutsch</a></li>
              <li><a href="#" class="disabled">русский</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div> <!-- /.header -->

    <div class="container-page">
      <div class="content">

        <div style="margin-top: 10px; margin-left: -10px;">
          <%= render "layouts/flash" %>
        </div>

        <%= yield %>

      </div> <!-- /.content -->
    </div> <!-- /.container-page -->

    <div class="footer">
      <table>
        <tbody>
          <tr>
            <td>Kalendárny dátum a čas: <%= Time.now.strftime("%d. %B %Y %H:%M") %></td>
            <td>Aktuálny bankový deň: <%= Time.now.to_date.strftime("%d. %m. %Y") %></td>
            <td>Jazyk: sk</td>
            <td>Login: <%= current_user.email %></td>
            <td>ID používateľa: <%= current_user.id %></td>
            <td>ID stanice: BHN541287</td>
            <td>Server: sGateInnSvr1</td>
          </tr>
        </tbody>
      </table>
    </div> <!-- /.footer -->

    <!-- Modal window with spinner (loading effect) -->
    <div class="modal" id="modal-loading">
      <div class="modal-dialog">
        <div class="modal-body">
          <div class="spinner">
            <span id="loading-message">Nahrávam dáta...</span>&nbsp;<span id="loading-seconds"></span>
          </div>
        </div>
      </div>
    </div> <!-- /.modal#modal-loadign -->
  </body>
</html>
